<main>
    <div class="text-center main">
        <h1 class="text-white fw-bold">CONTACT</h1>
        <p class="text-white text-lowercase fw-bold">
            VEUILLEZ NOUS CONTACTER EN CAS DE BESOIN
        </p>
    </div>
</main>
<div class="container py-5">
    <div class="row g-5">
        <!-- Formulaire de contact -->
        <div class="col-lg-6 card shadow-sm p-3">
            <form action="#" method="post">
                <div class="form-floating mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="nom"
                        name="nom"
                        required
                        placeholder="Nom Complet"
                    />
                    <label for="nom">Nom Complet</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="mail"
                        required
                        placeholder="Email"
                    />
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        type="tel"
                        class="form-control"
                        id="phone"
                        name="telephone"
                        required
                        placeholder="Numéro de Téléphone"
                    />
                    <label for="phone">Numéro de Téléphone</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea
                        class="form-control"
                        id="message"
                        name="message"
                        style="height: 150px"
                        required
                    ></textarea>
                    <label for="message">Votre Message</label>
                </div>
                <button class="btn btn-primary w-100 py-3" type="submit">
                    Envoyer
                </button>
            </form>
        </div>

        <!-- Informations de contact -->
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-5 fw-bold mb-4 text-primary">Service Client</h1>
            <p class="mb-4">
                Bienvenue dans l'espace client unchk ! Veuillez fournir vos
                informations afin que nous puissions vous aider efficacement.
            </p>
            <div class="d-flex align-items-center mb-4">
                <div
                    class="d-flex align-items-center justify-content-center bg-card rounded-circle"
                    style="width: 65px; height: 65px"
                >
                    <i class="bi bi-phone text-light"></i>
                </div>
                <div class="ms-4">
                    <h5 class="mb-1 fw-bold text-primary">Téléphone</h5>
                    <p class="mb-0">+221 30 108 41 53</p>
                </div>
            </div>
            <div class="d-flex align-items-center mb-4">
                <div
                    class="d-flex align-items-center justify-content-center bg-card rounded-circle"
                    style="width: 65px; height: 65px"
                >
                    <i class="bi bi-envelope-open text-light"></i>
                </div>
                <div class="ms-4">
                    <h5 class="mb-1 fw-bold text-primary">Email</h5>
                    <p class="mb-0">contact&#64;unchk.edu.sn</p>
                    <p class="mb-0">com.rp&#64;unchk.edu.sn</p>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div
                    class="d-flex align-items-center justify-content-center bg-card rounded-circle"
                    style="width: 65px; height: 65px"
                >
                    <i class="bi bi-geo-alt text-light"></i>
                </div>
                <div class="ms-4">
                    <h5 class="mb-1 fw-bold text-primary">Adresse</h5>
                    <p class="mb-0">Dakar-Fann Immeuble Ousmane DIOP</p>
                </div>
            </div>
        </div>
    </div>
</div>
