.colorprimary{
    background-color: var(--blue);
    color: var(--white);
}

thead th {
    color: var(--blue);
}

tbody td span{
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

tbody td span i{
    color: var(--white);
    font-size: 14px;
}

.pagination a{
    cursor: pointer;
}
