<div class="container-fluid footer-bg bg-light pt-5">
    <footer class="mt-4">
        <div class="row pb-4 px-4">
            <div class="col-md-4">
                <img src="assets/logo/Logo_UN.png" alt="" class="img-fluid">

                <p class="mt-3 text-center fw-medium">
                    
                </p>
            </div>

            <div class="col-md-8 links-footer-nav">
                <div class="row gx-4 gy-4">
                    <div class="col-md-3 text-center">
                        <h5 class="fw-bold mb-5">Pages</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a routerLink="/" class="nav-link p-0 fw-medium">
                                    Accueil
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a routerLink="/about" class="nav-link p-0 fw-medium">
                                    A propos
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a routerLink="/annonces"class="nav-link p-0 fw-medium">
                                    Annonces
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a routerLink="/contact" class="nav-link p-0 fw-medium">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 text-center">
                        <h5 class="fw-bold mb-5">Liens utiles</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 fw-medium">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 fw-medium">
                                    Features
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 fw-medium">
                                    Pricing
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 fw-medium">
                                    FAQs
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 fw-medium">
                                    About
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <h5 class="fw-bold mb-5">Coordonnées</h5>
                            <p class="text-justify">
                                Cité du savoir – Diamniadio, <br>
                                Immeuble Ousmane DIOP <br> Lot E1 à côté de la station Elton <br> Ouest Foire- Dakar,
                                BP 15126 Dakar-Fann
                            </p>
                            <p class="text-justify">
                                <a href="tel:+221 33 864 00 00" class="nav-link fw-medium">
                                    <i class="bi bi-telephone-fill"></i>
                                    Tel: +221 33 864 00 00
                                </a>
                            </p>
                            <p class="text-justify">
                                <a href="mailto:iKv5a@example.com" class="nav-link fw-medium">
                                    <i class="bi bi-envelope-fill"></i>
                                    Email: contact&#64;unchk.edu.sn
                                </a>
                            </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex border justify-content-between py-3 m-0 px-4 align-items-center border-top footer-icon-bottom">
            <ul class="list-unstyled d-flex align-items-center border my-auto">
                <li class="">
                    <a class="link-body-emphasis" href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <i class="bi bi-youtube"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-body-emphasis" href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
            </ul>

            <p class="fw-medium m-0">© 2024 Company, Inc. All rights reserved.</p>
        </div>
    </footer>
</div>
