
<div class="card border-0 px-3 shadow">
    <div class="d-flex justify-content-between align-items-center my-3">
        <p class="fw-medium text-primary my-0">Liste des candidatures</p>
        <input type="text" class="form-control w-50" placeholder="Rechercher une annonce" (input)="searchCandidature($event)">
    </div>

    <div class="mt-2">
        <div class="row g-3" *ngIf="getPaginatedCandidature()?.length; else noCandidatures">
            <div class="col-md-6" *ngFor="let candidature of getPaginatedCandidature()">
                <div class="card px-2">
                    <div class="etatAnnonce" [ngClass]="{
                        'bg-warning': candidature?.etat === 'PENDING',
                        'bg-danger': candidature?.etat === 'REJECTED',
                        'bg-secondary': candidature?.etat === 'CANCELLED',
                        'bg-success': candidature?.etat === 'HIRED'
                      }">
                        <span >
                            {{
                                candidature?.etat === 'PENDING' ? 'Candidature en cours' :
                                candidature?.etat === 'REJECTED' ? 'Candidature Rejetée' :
                                candidature?.etat === 'CANCELLED' ? 'Candidature Annulée' :
                                candidature?.etat === 'HIRED' ? 'Candidature Recruté(e)' :
                                candidature?.etat
                            }}
                        </span>
                    </div>
                    <div class="mt-3">
                        <h4 class="fw-bold text-primary">
                            {{ candidature.annonce.titre }}
                        </h4>

                        <div class="d-flex justify-content-between align-items-center">
                            <p>
                                description
                            </p>
                            <div class="d-flex gap-2 align-items-center">
                                <span class="" data-bs-toggle="modal" data-bs-target="#detailsCandidature" (click)="showDetailsCandidature(candidature)">
                                    <i class="pi pi-eye text-primary iconsAnnonce"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="mb-3 single-line-text">
                        {{candidature.annonce.description}}
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="">
                            <span class="">
                                <i class="pi pi-clock"></i>
                            </span>
                            <span class="fw-bold">
                                {{candidature.created_at | date : 'dd/MM/yyyy'}}
                            </span>
                        </div>

                        <div class="">
                            <span class="fw-bold">
                                {{candidature.dateLimite | date : 'dd/MM/yyyy'}}
                            </span>
                            <span class="">
                                <i class="pi pi-clock"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noCandidatures>
            <p class="text-center my-2 text-primary">Aucune candidature disponible pour l'instant</p>
        </ng-template>
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-3">
        <nav>
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
                    <a class="page-link" (click)="setPage(currentPage - 1)">&laquo;</a>
                </li>
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [ngClass]="{'active': currentPage === (i + 1)}">
                    <a class="page-link" (click)="setPage(i + 1)">{{ i + 1 }}</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
                    <a class="page-link" (click)="setPage(currentPage + 1)">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<!-- Modal détail Candidature -->
<div class="modal fade" id="detailsCandidature" aria-labelledby="detailsCandidatureLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-5">
                    <h3 class="text-center fw-medium text-primary">Informations</h3>
                    <p class="my-2 text-center text-white" [ngClass]="{
                        'bg-warning': selectedCandidature?.etat === 'PENDING',
                        'bg-danger': selectedCandidature?.etat === 'REJECTED',
                        'bg-secondary': selectedCandidature?.etat === 'CANCELLED',
                        'bg-success': selectedCandidature?.etat === 'HIRED'
                      }">
                      État actuel de la candidature :
                      {{
                        selectedCandidature?.etat === 'PENDING' ? 'En attente' :
                        selectedCandidature?.etat === 'REJECTED' ? 'Rejetée' :
                        selectedCandidature?.etat === 'CANCELLED' ? 'Annulée' :
                        selectedCandidature?.etat === 'HIRED' ? 'Recruté(e)' :
                        selectedCandidature?.etat
                      }}
                    </p>

                </div>

                <div class="mb-3">
                    <h4 class="text-primary">Infos personnelles</h4>
                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="getImageUrl(selectedCandidature)" class="img-fluid rounded" [alt]="selectedCandidature?.user?.prenom">
                            <h4 class="mb-5">  </h4>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class=""><strong class="text-primary">Prénom:</strong> {{selectedCandidature?.user?.prenom}}</p>
                                    <p><strong class="text-primary">Nom:</strong> {{ selectedCandidature.user?.nom }}</p>
                                    <p class=""><strong class="text-primary">Email:</strong> {{selectedCandidature?.user?.email}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class=""><strong class="text-primary">Téléphone:</strong> {{selectedCandidature?.user?.telephone}}</p>
                                    <p class=""><strong class="text-primary">Adresse:</strong> {{selectedCandidature?.user?.adresse}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <h4 class="text-primary">Annonce</h4>
                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="selectedCandidature?.image_annonce" alt="Image de l'annonce" class="img-fluid mb-3">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class=""><strong class="text-primary">Titre:</strong> {{selectedCandidature?.annonce?.titre}}</p>
                                    <strong class="text-primary mt-2">Description:</strong>
                                    <p class=""> {{selectedCandidature?.annonce?.description}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class=""><strong class="text-primary">Auteur: </strong>: {{selectedCandidature?.annonce?.auteur}}</p>
                                    <p><strong class="text-primary">Date limite :</strong> {{ selectedCandidature?.annonce?.dateLimite }}</p>
                                    <p class=""><strong class="text-primary">État: </strong> <span class="" [ngClass]="selectedCandidature?.annonce?.etat === 'En cours' ? 'bg-warning' : 'bg-primary'"></span> {{selectedCandidature?.annonce?.etat}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <h4 class="text-primary">Documents fournis</h4>
                    <hr>

                    <div class="docs">
                        <div class="row">
                            @for (doc of selectedCandidature?.documents; track $index) {
                                <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                                    <i class="bi bi-file-earmark-pdf-fill rounded shadow" style="font-size: 100px; color: blue; cursor:pointer;" (click)="downloadDocument(doc.id)"></i>
                                    <span class="fw-medium text-shadow mt-3"> {{doc.titre}} </span>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <h4 class="text-primary">Etat candidature</h4>
                    <hr>
                    <!-- Sélecteur d'état -->
                    <div class="form-group">
                        <form [formGroup]="formcandidatureUpdate">
                            <label class="form-label text-primary">Modifier l'état de la candidature</label>
                            <select class="form-select" formControlName="etat">
                              <option value="PENDING">En attente</option>
                              <option value="REJECTED">Rejetée</option>
                              <option value="CANCELLED">Annulée</option>
                              <option value="HIRED">Recruté(e)</option>
                            </select>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateCandidatureStatus(selectedCandidature.id)">
                    Mettre à jour le statut de la candidature
                </button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
