<main>
    <div class="text-center main">
        <h1 class="text-white fs-1 fw-bold">A propos de l'UN-CHK</h1>
        <p class="text-white fw-bold">Première Université Numérique du Sénégal.</p>
    </div>
</main>
<section class="py-5">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-primary fw-bold">Présentation de l’UNCHK</h2>
        <div class="row gap-4">
            <div class="col-md-12">
                <h5 class="text-success">Septembre 2013</h5>
                <p>
                    Création de l’Université virtuelle du Sénégal (UVS),
                    première université numérique publique du Sénégal et de
                    l’Afrique de l’Ouest, avec un effectif de 2 000 étudiants.
                    Grâce à son modèle pédagogique basé sur les Technologie de
                    l’Information et de la communication, elle participe
                    pleinement à la démocratisation de l’accès à l’enseignement
                    supérieur (pour les nouveaux bacheliers de l’Etat du
                    Sénégal, les professionnels et les partenaires publics et
                    privés) supérieur, quel que soit son lieu de résidence.
                </p>
            </div>

            <div class="col-md-12">
                <h5 class="text-warning">Mai 2020</h5>
                <p>
                    Création de l’Université virtuelle du Sénégal (UVS),
                    première université numérique publique du Sénégal et de
                    l’Université virtuelle du Sénégal obtient son habilitation
                    institutionnelle de l’Autorité nationale d'Assurance Qualité
                    de l'Enseignement supérieur, de la Recherche et de
                    l'Innovation (ANAQ-Sup) qui lui permet de délivrer 13
                    Licences et 13 Masters.
                </p>
            </div>

            <div class="col-md-6">
                <h5 class="text-primary">Janvier 2023</h5>
                <p>
                    Par décret présidentielle, l’Université virtuelle du Sénégal
                    devient Université numérique Cheikh Hamidou KANE (UN-CHK) et
                    change d’identité visuelle.
                </p>
            </div>
        </div>
    </div>
</section>
