<div class="container py-5 mb-3">
    <div class="card shadow border-0">
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-3 mb-4 mb-md-0">
                    <img
                        src="assets/images/prf3.jpg"
                        alt="photoUserconnected"
                        class="img-fluid mb-3"
                    />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="prenom" class="form-label text-primary"
                                >Prénom</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="prenom"
                                value="Moussa"
                            />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label text-primary"
                                >Email</label
                            >
                            <input
                                type="email"
                                class="form-control"
                                id="email"
                                value="moussa123@gmail.com"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nom" class="form-label text-primary"
                                >Nom</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="nom"
                                value="Diop"
                            />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label
                                for="telephone"
                                class="form-label text-primary"
                                >Téléphone</label
                            >
                            <input
                                type="tel"
                                class="form-control"
                                id="telephone"
                                value="785236412"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="adresse" class="form-label text-primary"
                                >Adresse</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="adresse"
                                value="pikine"
                            />
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label text-primary"
                                >Photo de profil</label
                            >
                            <div class="input-group">
                                <button
                                    class="btn btn-outline-secondary"
                                    type="button"
                                >
                                    Choisir un fichier
                                </button>
                                <span
                                    class="input-group-text border-start-0 bg-white text-muted"
                                    >Aucun fichier choisi</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <label for="description" class="form-label text-primary"
                    >Description</label
                >
                <textarea class="form-control" id="description" rows="4">
je suis candidat</textarea
                >
            </div>

            <div class="text-end mt-4">
                <button type="button" class="btn btn-outline-primary">
                    Modifier
                </button>
            </div>
        </div>
    </div>
</div>
